footer{
    display: flex;
    justify-content: space-between;
    padding: $espaciado;
    background-color: map-get($map: $colores, $key: fondo-secundario);
    div{
       p{
          color: map-get($map: $colores, $key: texto-secundario);
       }
       
    };
    nav{
       a{
          color: map-get($map: $colores, $key: texto-secundario);
          text-decoration: none;
       }
    }
 }